<div class="bg-img">
    <!-- <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>My Life Web App</span>
            <span class="example-spacer"></span> -->
            <!-- <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>login</mat-icon>
      </button> -->
        <!-- </mat-toolbar-row>
    </mat-toolbar> -->
    <div class="container">
        <img class="back-image" src="../../assets/HomeSweet.png" />
        <div class="content-center">
            <div>
                <h1>Where Managing Begins</h1>

                <h3>Home Sweet Home... your Property Manager!</h3>
            </div>

            <div class="example-button-row">
                <button mat-raised-button color="primary" routerLink="/login" routerLinkActive="active">
                    LOGIN
                </button>
                <button mat-raised-button color="primary" routerLink="/register" routerLinkActive="active">
                    REGISTER
                </button>
            </div>
        </div>
    </div>
</div>