<div class="bg-img" style="vertical-align: bottom" src="../../assets/backgr.png">
   
    <div class="topnav">
        <span>HSH Web App</span>
        <span class="example-spacer"></span>
    </div>
    <div class="container">
        <img class="back-image" src="../../assets/HomeSweetTr.png" width="400em" />
        <div class="content-center">
            <div>
                <h1>Where Managing Begins</h1>

                <h4>Home Sweet Home... your Property Manager!</h4>
            </div>
            <div>
                <a href="index.html" class="btn btn-lg btn-primary">Sign in</a>
                <!-- <button type="submit" class="btn btn-lg btn-primary">Sign in</button> -->
                <a href="index.html" class="btn btn-lg btn-primary">Register</a>
                <!-- <button type="submit" class="btn btn-lg btn-primary">Sign in</button> -->
            </div>
        </div>
    </div>
</div>